.container {
	display: grid;
	grid-template-rows: 400px auto 300px;
}

.content {
	padding: 20px;
}

.title {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.experiencecards {
	display: grid;
	grid-template-columns: 1fr;

	/* grid-template-columns: 1fr 1fr; */
	grid-gap: 10px;
}

@media screen and (max-width: 768px) {
	.experiencecards {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 400px) {
	.container {
		grid-template-rows: 400px auto 350px;
	}
}
