.container {
	width: 90%;
	margin: auto;
	border: 2px solid black;
	border-radius: 5px;
	padding: 20px;
	margin-top: 20px;
	height: max-content;
}
.container h3 {
	margin-bottom: 10px;
}
.business {
	color: gray;
	margin-bottom: 5px;
	font-size: 15px;
}

.time {
	color: gray;
	margin-bottom: 10px;
	font-size: 14px;
}

.description {
	text-align: left;
}
